/* 
  The following CSS code defines styles for a React application.
  The overall design includes a linear gradient background, a spinning logo animation,
  and a responsive navbar with hover effects. Specific styles are applied to the header, links, homepage,
  carousel captions, and buttons for a cohesive and visually appealing user interface.
*/
.App {
  text-align: center;
  background: linear-gradient(to right, #f0f8ff, #e6f6fe);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for the navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #e6f6fe;
  border-bottom: 2px solid #f0f8ff;
}

.navbar a {
  color: #282c34;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
  margin: 0 20px; 
}

.navbar a:hover {
  color: #61dafb;
}

/* Styles for the homepage section */
.homepage {
  padding: 20px;
}

/* Styles for the carousel captions */
.carousel-caption h4 {
  color: black; 
  font-weight: bold; 
}

/* Styles for buttons with hover and active effects */
button {
  margin-top: 20px;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
