/* Global styling for the entire application */
.App {
  text-align: center;
  background: linear-gradient(to right, #f0f8ff, #e6f6fe);
}

/* Styling for the application logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animation for the application logo spin, respecting user's preference for reduced motion */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Styling for the main header section of the application */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Styling for hyperlinks within the application */
.App-link {
  color: #61dafb;
}

/* Keyframes for the logo spin animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styling for the navigation bar */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #e6f6fe;
  border-bottom: 2px solid #f0f8ff;
}

/* Styling for navigation links within the navbar */
.navbar a {
  color: #282c34;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
  margin: 0 20px;
}

/* Styling for navigation links on hover */
.navbar a:hover {
  color: #61dafb;
}

/* Styling for the main content section of the homepage */
.homepage {
  padding: 20px;
}

/* Styling for carousel captions */
.carousel-caption h4 {
  color: black;
  font-weight: bold;
}

/* Styling for generic buttons */
button {
  margin-top: 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* Styling for button hover effect */
button:hover {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

/* Styling for button active state */
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
